header {
	color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

header .logo {
	background-image: url(https://github.com/SandileG/AirBnB_clone/blob/1370531da073b601f31eadb9afb1dc5e006310cd/web_static/images/logo.png);
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
	height: 100%;
}
